.container{
    display: flex;
    flex-direction: column;
    margin: 15px auto;
    max-width: 800px;
    background-color: #353b48a8;
    padding: 20px;
    color: white;
    border-radius: 10px;
    text-align: justify;
}
.container h1, .container h3 {
    text-align: center;
}
.container button, .container a{
    text-decoration: none;
    margin: auto;
    display: flex;
    justify-self: center;
    font-size: 15px;
    padding: 10px;
    border: none;
    border-radius: 10px;
    transition: 0.5s;
    cursor: pointer;
}
.container button:hover{
    padding: 13px;
    font-size: 18px;
}